extends layout
      
block content
     form(method='POST', action='/users/register')
        #form-group
            label Username:
            br
            input.form-control(name='username', type='text')
        #form-group
            label Email:
            br
            input.form-control(name='email', type='email')
        #form-group
            label Password:
            br
            input.form-control(name='password', type='password')
            br
            label Confirm Password:
            br
            input.form-control(name='password2', type='password')
            br
            input.btn.btn-primary(type='submit', value='Submit')
            