extends layout

block content
    h1 Users
    ul
        each user, i in users
          p Username: #{user.username} 
          p Email: #{user.email}
          p Hashed Password: #{user.password} 
          if user.isAdmin
           p.adminStatusOn Admin
           
          else
            p.adminStatusOff User
          br
        hr
        a.btn.btn-default(href='/userlist/edit'+user._id) Edit